## CSE-221710305046-ADARSH KASULA

### Question 1:
```[Data Series] 
Write a Python program to add, subtract, multiple and divide two Pandas Series. 
Sample Series: 
[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
Sample Output:
[2, 4, 6, 8, 10] + [1, 3, 5, 7, 9] = [3, 7, 11, 15, 19]```

In [10]:
import pandas as pd
import numpy as np
s1=pd.Series([2,4,6,8,10])
s2=pd.Series([1,3,5,7,9])

data={"Series1":s1,"Series2":s2,"Addition":s1+s2}
df1=pd.DataFrame(data)
df1

   Series1  Series2  Addition
0        2        1         3
1        4        3         7
2        6        5        11
3        8        7        15
4       10        9        19

## Question 2:
```[Quartiles] 
Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series. 
Sample Output:
Original Series:
0 3.000938
1 11.370722
2 14.612143
3 8.990256
4 13.925283
5 12.056875
.... 17 14.118931
18 8.247458
19 5.526727
dtype: float64
Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811 8.09463867 10.23353705 12.21537733 14.61214321]```

In [30]:
from numpy import random
a=random.rand(20)
data={"Series1":a}
df1=pd.DataFrame(data)
df2=df1.describe()
df2

         Series1
count  20.000000
mean    0.563128
std     0.299870
min     0.021255
25%     0.364615
50%     0.608235
75%     0.738973
max     0.986848

## Question 3:
```[List Difference] 
Write a Pandas program to get the items of a given series not present in another given series. 
Sample Output:
Original Series:
sr1:
0 1
1 2
2 3
3 4
4 5
dtype: int64
sr2:
0 2
1 4
2 6
3 8
4 10
dtype: int64
Items of sr1 not present in sr2:
0 1
2 3
4 5
dtype: int64```

In [28]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,4,6,8,10])
print("original series:")
print(s1)
print(s2)
print("elements of s1 not present in s2:")
result=s1[~s1.isin(s2)]
result

original series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
elements of s1 not present in s2:

0    1
2    3
4    5
dtype: int64

## Question 4:
```[Filter Words with Multiple Vowels] 
Write a Pandas program to filter words from a given series that contain at least two vowels. 
Sample Output:
Original Series:
0 Red
1 Green
2 Orange
3 Pink
4 Yellow
5 White
dtype: object

Filtered words:
1 Green
2 Orange
4 Yellow
5 White
dtype: object```

In [38]:
from collections import Counter
color_series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(color_series)
print("\nFiltered words:")
result = mask = color_series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(color_series[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

## Question 5:

```Consider the following as my DataFrame,Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.```

In [54]:
s1=pd.Series(["Anastisa","James","Miachel","Katherine","Mathew","Laura"])
s2=pd.Series([10,20,30,40,50,60])
s3=pd.Series([1,1,3,2,1,3])
s4=pd.Series(["Yes","No","Yes","No","Yes","Yes"])
data={"Name":s1,"Score":s2,"Attempts":s3,"Qualify":s4}
df1=pd.DataFrame(data)
print("attempts greater than 2")
print(df[(df['attempts'] > 2)])

attempts greater than 2
      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes